.container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: orange;
}


.links_wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.links {
    margin: 0 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}